/**
 * Project0: PizzaML
 *
 * Computer Science E-75
 * Nelson Reitz
 *
 * http://github.com/nelsonreitz/project0/
 */

/** Table of contents
 * - General
 * - Header
 * - Navigation
 * - Content
 * - Featured item
 * - Item
 * - Messages
 * - Cart
 * - Footer
 * - Small screen
 */

/* General */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    padding-top: 120px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

input[type="number"]:focus,
select:focus {
    border: 1px solid #ed4529;
}

th, td {
    border-bottom: 1px solid #e8e8e8;
}

/* Header */

.header {
    background-color: white;
    height: 70px;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header .container {
    border-bottom: 1px solid #d1d1d1;
    height: 100%;
}

.site-title, .cartlink {
    display: block;
    float: left;
    font-size: 21px;
    font-weight: 400;
    height: 100%;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
}

.cartlink {
    font-size: 16px;
    position: absolute;
    right: 0;
}

/* Navigation */

.navigation {
    margin-top: 10px;
    position: fixed;
    width: 12.67% !important; /* equals 22% of container */
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation li {
    font-size: 16px;
    margin-bottom: 10px;
}

.navigation a:hover {
    color: #ed4529;
}

.current-cat a {
    color: #ed4529;
}

/* Content */

.content {
    margin-bottom: 30px;
    margin-left: 26%;
}

.content h2 {
    font-size: 32px;
    letter-spacing: 0;
}

.content a {
    font-weight: 600;
}

.content input[type="submit"],
.content input[type="number"],
.content select,
.content button {
    border-radius: 2px;
    font-size: 15px;
    height: 35px;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0;
    padding: 5px 10px;
}

.content input[type="checkbox"] {
    margin: 0;
}

/* Featured Item */

.featured-item .item {
    border: 0;
}

.featured-item a {
    font-weight: 300;
}

.featured-item .item-infos {
    padding: 0;
}

.featured-item-photo {
    margin-bottom: 10px;
    width: 100%;
}

/* Item */

.item {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    height: 160px;
    margin-bottom: 30px;
    padding: 12px 12px 12px 0;
    position: relative;
}

.item-photo {
    float: left;
    height: 130px;
    margin-right: 10px;
    width: 130px;
}

.item-infos {
    height: 100%;
    padding-left: 160px;
    position: relative;
    width: 100%;
}

.item-name {
    font-size: 27px;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 10px;
}

.item-description {
    color: #a5a5a5;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    max-width: 50%;
}

.item-prices {
    bottom: 0;
    margin: 0;
    position: absolute;
    text-transform: capitalize;
    width: 105px;
}

ul.item-prices {
    list-style: none;
}

.item-prices li {
    font-size: 16px;
    line-height: 16px;
    margin: 4px 0 0 0;
}

.sizeprice {
    float: right;
}

.order-form {
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
}

.order-form input,
.order-form button {
    margin-left: 2px;
}

.order-size {
    text-transform: capitalize;
}

.order-quantity {
    width: 65px;
}

/* Styles input number spinners. Adapted from http://jsfiddle.net/Volker_E/WwfW9/ */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    border-left: 1px solid #a3a3a3;
    opacity: .5;
    width: 1em;
}

/* Message */

.message {
    font-size: 18px;
}

.message p {
    margin-bottom: 40px;
}

/* Cart */

.cart {
    padding-top: 30px;
}

.cart table {
    margin-bottom: 30px;
    width: 100%;
}

.cart-size {
    text-transform: capitalize;
}

.cart-price {
    text-align: right;
}

.cart-remove {
    text-align: center;
}

.cart-total {
    font-weight: 600;
}

.cart-submits {
    position: absolute;
    right: 0;
}

.cart input[type="submit"] {
    margin-right: 2px;
}

/* Footer */

.footer {
    color: #a5a5a5;
    font-size: 11px;
    margin-top: 300px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #a5a5a5;
}

/* Small screen */

@media screen and (max-width: 880px) {

    body {
        padding-top: 80px;
    }

    .container {
        width: 85%;
    }

    .header {
        margin-bottom: 10px;
    }

    .navigation {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        margin-bottom: 40px;
        position: static;
        width: 100% !important;
    }

    .content {
        margin-left: 0;
        width: 100% !important;
    }
}
