html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 130px;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

.header {
    background-color: white;
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    margin-bottom: 65px;
}

.header .container {
    height: 100%;
    border-bottom: 2px #f5f5f5 solid;
}

.site-title, .cartlink {
    float: left;
    margin: 0;
    display: block;
    height: 100%;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0;
}

.cartlink {
    position: absolute;
    right: 0;
    font-size: 15px;
}

/* Navigation */

.navigation {
    position: fixed;
    width: 12.67% !important; /* equals 22% of container */
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation li {
    font-size: 16px;
    margin-bottom: 8px;
}

/* Content */

.content {
    margin-left: 26%;
    margin-bottom: 260px;
}

.content h2 {
    font-size: 32px;
    letter-spacing: 0;
}

.content a {
    font-weight: 600;
}

.content input[type="submit"],
.content input[type="number"],
.content select,
.content button {
    height: 35px;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 15px;
    border-radius: 2px;
    margin-bottom: 0;
    letter-spacing: 0;
}

.content input[type="checkbox"] {
    margin: 0;
}

/* Item */

.item {
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 20px;
    height: 160px;
    position: relative;
    padding: 12px 12px 12px 0;
}

.item-photo {
    float: left;
    width: 130px;
    height: 130px;
    margin-right: 10px;
}

.item-infos {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 160px;
}

.item-name {
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.item-description {
    margin: 0;
    font-size: 13px;
    color: grey;
    max-width: 50%;
    line-height: 16px;
}

.item-prices {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100px;
    text-transform: capitalize;
}

ul.item-prices {
    list-style: none;
}

.item-prices li {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.sizeprice {
    float: right;
}

.order-form {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.order-form input {
    margin-left: 2px;
}

.order-size {
    text-transform: capitalize;
}

.order-quantity {
    width: 65px;
}

/* Styles input number spinners. Adapted from http://jsfiddle.net/Volker_E/WwfW9/ */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5;
}

/* Message */

.message {
    font-size: 18px;
}

.message p {
    margin-bottom: 40px;
}

/* Cart */

.cart table {
    width: 100%;
    margin-bottom: 65px;
}

.cart-size {
    text-transform: capitalize;
}

.cart-price {
    text-align: right;
}

.cart-remove {
    text-align: center;
}

.cart-total {
    font-weight: 600;
}

.cart-submits {
    position: absolute;
    right: 0;
}

.cart input[type="submit"] {
    margin-right: 2px;
}
