/**
 * Project0: PizzaML
 *
 * Computer Science E-75
 * Nelson Reitz
 *
 * http://github.com/nelsonreitz/project0/
 */

/** Table of contents
 * - General
 * - Header
 * - Containers
 * - Navigation
 * - Content
 * - Featured item
 * - Item
 * - Messages
 * - Cart
 * - Footer
 * - Small screen
 */

/* General */
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    padding-top: 120px;
    color: #222222;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #222222;
}

input[type="number"]:focus,
select:focus {
    border: 1px solid #ed4529;
}

th, td {
    border-bottom: 1px solid #e8e8e8;
}

/* Containers */
.container {
    height: 100%;
}

.row {
    min-height: 100%;
    position: relative;
}

/* Header */
.header {
    background-color: white;
    height: 72px;
    margin-bottom: 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header .container {
    border-bottom: 1px solid #d1d1d1;
    padding: 24px 0 24px 0;

}

.site-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
    float: left;
}

.ml {
    color: #f5441f;
}

.cartlink {
    font-size: 20px;
    line-height: 24px;
    float: right; 
}

.fa-shopping-cart {
    margin-left: 8px;
}

/* Navigation */
.navigation {
    position: fixed;
    width: 12.67% !important; /* equals 22% of container */
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation li {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
}

.navigation a:hover {
    color: #ed4529;
}

.current-cat a {
    color: #ed4529;
}

/* Content */
.content {
    margin-bottom: 111px;
    margin-left: 26%;
}

.content h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
    letter-spacing: 0;
}

.content a {
    font-weight: 600;
}

.content input[type="submit"],
.content input[type="number"],
.content select,
.content button {
    border-radius: 2px;
    font-size: 15px;
    height: 35px;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0;
    padding: 5px 10px;
}

.content input[type="checkbox"] {
    margin: 0;
}

/* Featured Item */
.featured-item .item {
    border: 0;
}

.featured-item a {
    font-weight: 300;
}

.featured-item a:hover {
    text-decoration: none;
}

.featured-item .item-infos {
    padding: 0;
}

.featured-item-photo {
    margin-bottom: 10px;
    width: 100%;
}

/* Item */
.item {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    height: 160px;
    margin-bottom: 30px;
    padding: 12px 12px 12px 0;
    position: relative;
}

.item:last-of-type {
    margin-bottom: 150px;
}

.item:first-of-type {
    margin-bottom: 30px;
}

.item-photo {
    float: left;
    height: 130px;
    margin-right: 10px;
    width: 130px;
}

.item-infos {
    height: 100%;
    padding-left: 160px;
    position: relative;
    width: 100%;
}

.item-name {
    font-size: 27px;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 10px;
}

.item-description {
    color: #a5a5a5;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    max-width: 50%;
}

.item-prices {
    bottom: 0;
    margin: 0;
    position: absolute;
    text-transform: capitalize;
    width: 105px;
}

ul.item-prices {
    list-style: none;
}

.item-prices li {
    font-size: 16px;
    line-height: 16px;
    margin: 4px 0 0 0;
}

.sizeprice {
    float: right;
}

.order-form {
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
}

.order-form input,
.order-form button {
    margin-left: 2px;
}

.order-size {
    text-transform: capitalize;
}

.order-quantity {
    width: 65px;
}

/* Message */
.message p {
    font-size: 16px;
    line-height: 16px;
}

/* Cart */
.cart {
    margin-bottom: 150px;
    padding-top: 30px;
    line-height: 1.5;
}

.cart table {
    margin-bottom: 30px;
    width: 100%;
}

.cart-size {
    text-transform: capitalize;
}

.cart-price {
    text-align: right;
}

.cart-remove {
    text-align: center;
}

.cart-total {
    font-weight: 600;
}

.cart-submits {
    position: absolute;
    right: 0;
}

.cart input[type="submit"] {
    margin-right: 2px;
}

/* Footer */
.footer {
    bottom: 0;
    color: #a5a5a5;
    font-size: 11px;
    height: 111px;
    padding: 30px 0;
    position: absolute;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #a5a5a5;
}

/* Small screen */
@media screen and (max-width: 880px) {

    body {
        padding-top: 80px;
    }

    .container {
        width: 85%;
    }

    .header {
        margin-bottom: 10px;
    }

    .navigation {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        margin-bottom: 40px;
        position: static;
        width: 100% !important;
    }

    .content {
        margin-left: 0;
        width: 100% !important;
    }
}
