html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 130px;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: black;
}

/* header */

.header {
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    margin-bottom: 65px;
}

.header .container {
    height: 100%;
    border-bottom: 2px #f5f5f5 solid;
}

.site-title, .cartlink {
    float: left;
    margin: 0;
    display: block;
    height: 100%;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0;
}

.cartlink {
    position: absolute;
    right: 0;
    font-size: 15px;
}

