/**
 * Project0: PizzaML
 *
 * Computer Science E-75
 * Nelson Reitz
 *
 * http://github.com/nelsonreitz/project0/
 */

/** Table of contents
 * - General
 * - Header
 * - Containers
 * - Navigation
 * - Content
 * - Featured item
 * - Item
 * - Messages
 * - Cart
 * - Footer
 * - Small screen
 */

/* General */
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    padding-top: 120px;
    color: #222222;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #222222;
}

img {
    vertical-align: top;
}

input[type="number"]:focus,
select:focus {
    border: 1px solid #ed4529;
}

input.button {
    height: 32px;
    border-radius: 2px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
    border: none;
    text-align: center;
}

input.button.primary {
    background-color: #f5441f;
    color: #ffffff;
}

input.button.secondary {
    background-color: #ffffff;
    border: 1px solid #a5a5a5;
    padding: 7px 16px;
    color: #222222;
}

input[type="number"] {
    height: 32px;
    padding: 5px 8px 8px 8px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 0;
    border: solid 1px #d1d1d1;
    width: 56px;
}

th, td {
    border-bottom: 1px solid #e8e8e8;
}

/* Containers */
.container {
    height: 100%;
}

.row {
    min-height: 100%;
    position: relative;
}

/* Header */
.header {
    background-color: white;
    height: 72px;
    margin-bottom: 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header .container {
    box-shadow: 0 1px 0 0 #d1d1d1;
    padding: 24px 0 24px 0;

}

.site-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
    float: left;
}

.ml {
    color: #f5441f;
}

.cartlink {
    font-size: 20px;
    line-height: 24px;
    float: right; 
}

.fa-shopping-cart {
    margin-left: 8px;
}

/* Navigation */
.navigation {
    position: fixed;
    width: 12.67% !important; /* equals 22% of container */
}

.navigation ul {
    list-style: none;
    margin: 0;
}

.navigation li {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
}

.navigation a:hover {
    color: #ed4529;
}

.current-cat a {
    color: #ed4529;
}

/* Content */
.content {
    margin-bottom: 160px;
    margin-left: 26%;
}

.content h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
    letter-spacing: 0;
}

.content a {
    font-weight: 600;
}

.content input[type="checkbox"] {
    margin: 0;
}

/* Featured Item */
.featured-item .item-infos {
    padding: 0;
}

.featured-item-photo {
    margin-bottom: 16px;
    width: 100%;
}

/* Item */
.item {
    box-shadow: 0 1px 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8;
    height: 160px;
    margin-bottom: 24px;
    padding: 16px;
}

.item:last-of-type {
    margin-bottom: 160px;
}

.item-photo {
    float: left;
    height: 128px;
    margin-right: 16px;
    width: 128px;
}

.item-infos {
    width: 100%;
    position: relative;
    height: 100%;
    padding-left: 144px;
}

h2.item-name {
    margin-bottom: 4px;
}

.item-description {
    color: #a5a5a5;
    max-width: 50%;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.item-prices {
}

ul.item-prices {
    list-style: none;
    width: 128px;
    text-transform: capitalize;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
}

.item-prices li {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
    margin-top: 4px;
}

.sizeprice {
    float: right;
}

.order-form input {
    margin: 0;
}

.order-form label {
    display: inline;
    font-weight: 400;
    margin-left: 4px;
}

.order-submit {
    position: absolute;
    right: 0;
    bottom: 0;
}

input.order-quantity {
    float: left;
    margin-right: 8px;
}

/* Message */
.message p {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 160px;
}

/* Cart */
.cart {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 256px;
}

.cart table {
    width: 100%;
    margin-bottom: 32px;
}

.cart td, th {
    height: 64px;
    padding: 0;
}

.cart input {
    margin: 0;
}

.cart .item-photo {
    width: 32px;
    height: 32px;
}

.cart .item-name {
    float: left;
    padding: 8px 0;
    margin: 0;
}

.cart-size {
    text-transform: capitalize;
    width: 72px;
}

.cart-quantity {
    width: 72px;
}

.cart-price {
    text-align: right;
    width: 72px;
}

.cart-remove {
    text-align: center;
    width: 96px;
}

.cart-total {
    font-weight: 600;
}

.cart-submits {
    float: right;
}

.cart input.button.secondary {
    float: left;
    margin-right: 8px;
}

/* Footer */
.footer {
    color: #a5a5a5;
    font-size: 12px;
    line-height: 16px;
    padding: 32px 0;
    position: absolute;
    bottom: 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #a5a5a5;
}

/* Small screen */
@media screen and (max-width: 880px) {

    body {
        padding-top: 80px;
    }

    .container {
        width: 85%;
    }

    .header {
        margin-bottom: 10px;
    }

    .navigation {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        margin-bottom: 40px;
        position: static;
        width: 100% !important;
    }

    .content {
        margin-left: 0;
        width: 100% !important;
    }
}
